.article-container {
	position: relative;

	article {
		padding: 20px;
		background-color: $background-color;
	}
	
	h2 {
		font-size: 1.4rem;
		margin: 0 0 0.8rem 0;

		a {
			color: $text-color;
		}
	}
	
	a {
		color: #069;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.article-type {
		font-family: $sans-serif-font;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8rem;
		margin: 0 0 0.6rem 0;
	}
	
	.author {
		font-family: $sans-serif-font;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.9rem;
	}
	

	
	.text-section, .video-section, .podcast-section {
		width: 85%;
	

		@media screen and (min-width: $break-small) {
			width: 40em;
		}

		margin: 2em auto;

		transition:opacity 500ms, transform 500ms;

	}

	@media screen and (min-width: $break-small) {
		.text-section, .video-section, .podcast-section {
			opacity: 0;
			transform:scale(0.5);
		}
		
		.text-section.inviewport,.text-section.active,
		.video-section.inviewport, .video-section.active,
		.podcast-section.inviewport, .podcast-section.active {
			opacity:1;
			transform: scale(1);
		}
	}
}