.article-container {
	position: relative;

	article {
		padding: 20px;
		background-color: $background-color;
	}
	
	h2 {
		font-size: 1.4rem;
		margin: 0 0 1rem 0;

		a {
			color: $text-color;
		}
	}
	
	a {
		color: #069;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.article-type {
		font-family: $sans-serif-font;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.9rem;
		margin: 0 0 0.6rem 0;
	}

	.date {
		color: $light-text-color;
	}
	
	.author {
		font-family: $sans-serif-font;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.8rem;
	}

	.credit {
		font-family: $sans-serif-font;
		color: $light-text-color;
		font-style: italic;
		font-size: 0.8rem;
		line-height: 1rem;
		margin: 0 0 0.6rem 0;
		text-align: right;
	}
	
	.text-section, .video-section, .podcast-section {
		width: 85%;
	

		@media screen and (min-width: $break-small) {
			width: 40em;
		}

		margin: 2em auto;

		transition:opacity 500ms, transform 500ms;

	}

	.with-image {
		@media screen and (min-width: $break-tiny) {
			display: flex;
			flex-flow: wrap;
			flex-direction: row-reverse;

			.header-flex-container {
				flex: 2 100%;
			}
			
			.text-flex-container {
				padding-right: 20px;
				flex: 1 60%;
			}

			.image-flex-container {
				flex: 1 40%;

			}
		}

		.image-flex-container {
			// To place credit nicely under image
			display: flex;
			flex-direction: column;

		}


		img {
			width: 100%;
		}
	}

}

// Only apply the transitions if JS is available and
// we are on a larger screen
.js .article-container {
	@media screen and (min-width: $break-small) {
		.text-section, .video-section, .podcast-section {
			opacity: 0;
			transform:scale(0.5);
		}
		
		.text-section.inviewport,.text-section.active,
		.video-section.inviewport, .video-section.active,
		.podcast-section.inviewport, .podcast-section.active {
			opacity:1;
			transform: scale(1);
		}
	}
}
