#timeline-container {
	height: 100%;
	position: fixed;
	width: 150px;
	left: 0;
	top: 0;
	background-color: #ececec;

	svg .milestoneContainer rect,
	svg .activeMilestoneContainer rect {
		fill: cornflowerblue;
		cursor: pointer;
		transition: fill 300ms ease-in-out;
		
		&:hover {
			fill: green;
		}
	}

	svg .activeMilestoneContainer rect {
		fill: hotpink;
	}
}