#timeline-container {
	height: 100%;
	position: fixed;
	width: 120px;
	left: 0;
	top: 0;
	background-color: rgba(200,200,200,0.5);
	
	svg .milestoneContainer circle,
	svg .activeMilestoneContainer circle {
		fill: $dark-background-color;
		stroke: #fff;
		stroke-width: 2px;
		cursor: pointer;
		transition: fill 300ms ease-in-out;
		
		&:hover {
			fill: #c40226;
		}
	}

	svg .activeMilestoneContainer circle {
		fill: #c40226;
	}

	svg .axisContainer {
		text {
			font-family: $sans-serif-font;
			font-weight: bold;
			text-anchor: start;
			fill: #fff;
		}

		line {
			stroke-width: 2px;
			stroke: #fff;
		}	
	} 

	svg .axisContainer rect {
		fill: $dark-background-color;
	}
}