#timeline-container {
	height: 100%;
	position: fixed;
	width: 150px;
	left: 0;
	top: 0;
	background-color: #ececec;

	svg .milestone {
		fill: cornflowerblue;
		cursor: pointer;
		transition: fill 100ms ease-in-out;
		
		&:hover {
			fill: green;
		}
	}
}