// Basic version for a browser with no flexbox or grid
nav.main-nav {
	font-family: $sans-serif-font;
	font-size: 0.9rem;
	background-color: $dark-background-color;
	z-index: 100;

	padding: 10px;
	
	text-align: center;	

	width: 100%;
	max-width: 100%;

	a {
		color: #fff;
		text-decoration: none;

		fill: #fff;

		&:hover {
			color: #ccc;
			fill: #ccc;
		}
	}

	ul {
		list-style: none;
		padding: 0;


		li {
			display: inline-block;
			padding: 10px 20px 0;
		}

	}

	.nav-links {
		padding: 10px 0;
		margin: 0;
	}
	
}