$article-background-color: #fff;
$secondary-article-background-color: #ededed;
$dark-background-color: #262621;
$journal-color: #5C2483;
$text-color: #333;
$light-text-color: #666;
$logo-color: #5C2483;

$break-tiny: 600px;
$break-small: 800px;
$break-large: 1000px;