// Basic version for a browser with no flexbox or grid
nav.main-nav {
	font-family: $sans-serif-font;
	background-color: $dark-background-color;
	z-index: 100;
	position: relative;

	padding: 20px;
	
	text-align: center;	

	width: 100%;
	max-width: 100%;

	a {
		color: #fff;
		text-decoration: none;

		fill: #fff;

		&:hover {
			color: #ccc;
			fill: #ccc;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		@media screen and (min-width: $break-tiny) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;

		}


		li {
			display: inline-block;
			padding: 10px 20px 0;

			@media screen and (min-width: $break-tiny) {
				padding: 0;
			}
		}

	}
	
	.home-page-link {
		display: block;
		width: 262px;
		padding: 0;
		margin: 0 auto;

		@media screen and (min-width: $break-tiny) {
			margin: 0;
		}
	}

}